*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(13, 93, 167);
}

nav{
    margin-top: 16px;
    padding: 16px 8px;
    text-align: center;
}

nav a{
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    padding: 8px 16px;
}

a:hover{
    background-color: rgb(7, 41, 152);
    border-radius: 16px;
    transition: ease 0.7s;
}

main, footer{
    text-align: center;
    color: white;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

.titulo_menu{
    color: rgb(2, 132, 253); 
    font-family: 'Segoe UI';
    font-size: 1.4rem; 
    font-weight: bold;
}
input, button, select{
    background-color: black;
    border-radius: 16px;
    text-align: center;
    padding: 8px 4px;
    color: rgb(4, 128, 54);
    font-weight: bold;
    width: 300px;
    font-size: 1.25rem;
    font-weight: bold;
}

label{
    font-size: 1.25rem;
    font-weight: bold;
}

button{
    cursor: pointer;
}

.resposta, .resposta_nome{
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
}

th{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}

th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}
